@tailwind base;
@tailwind components;
@tailwind utilities;

.simplebar-scrollbar {
  width: 12px !important; /* Largeur de la barre de défilement */
  
}

.simplebar-track.simplebar-vertical {
  width: 12px; /* Largeur du rail de défilement vertical */
}

.simplebar-track.simplebar-horizontal {
  height: 12px; /* Hauteur du rail de défilement horizontal */
}

.simplebar-mask {
  z-index: auto;
}

.simplebar-scrollbar:before {
  background: #27272a !important;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1 !important;
  transition-delay: 0s;
  transition-duration: 0s;
}

.vault-container-top {
  background: #27272a8a;
}

.vault-container {
  cursor: pointer;
}

.vault-container:hover {
  box-shadow: hsl(37 91% 55% / 0.18) 0px 10px 20px 10px, hsl(37 91% 55% / 0.13) 0px 2px 6px;
}

.vault-container-editor-icon {
  padding: 8px;
}

.vault-container-editor-icon:hover {
  background: #3b3b3b;
  border-radius: 8px;
}
